<div class="row container">
    <h4>{{ vm.user.username }}</h4>

    <div class="card-panel">
        <form ng-submit="vm.update()">
            <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" ng-model="vm.user.password">
                  <label for="password">Password</label>
                </div>
                <div class="input-field col s12">
                  <input id="confirm_password" type="password" class="validate" ng-model="vm.user.confirm_password">
                  <label for="confirm_password">Confirm_password</label>
                </div>
                <div class="input-field col s6">
                    <input id="first_name" type="text" ng-model="vm.user.first_name" >
                    <label for="first_name" ng-class="{active: vm.user.first_name}">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" ng-model="vm.user.last_name">
                    <label for="last_name" ng-class="{active: vm.user.last_name}">Last Name</label>
                </div>

                <div class="input-field col s12">
                    <input id="last_name" type="email" class="validate" ng-model="vm.user.email">
                    <label for="email" ng-class="{active: vm.user.email}">Email</label>
                </div>
                <div class="input-field col s12">
                    <input id="is_admin" type="checkbox" ng-model="vm.user.roles.is_admin" ng-disabled="!vm.authenticatedUser.roles.is_admin">
                    <label for="is_admin">Is Admin</label>
                </div>
                <div class="input-field col s12">
                    <input id="is_manager" type="checkbox" ng-model="vm.user.roles.is_manager" ng-disabled="!(vm.authenticatedUser.roles.is_admin || vm.authenticatedUser.roles.is_manager)">
                    <label for="is_manager">Is Manager</label>
                </div>
                <div class="input-field col s12">
                    <a href="/" ng-click="vm.destroy()" class="waves-effect waves-light red btn">Delete Account</a>
                    <button type="submit" class="waves-effect waves-light btn right">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>