<nav class="teal"  ng-controller="NavbarController as vm">
  <div class="nav-wrapper">
    <div class="navbar-header">
        <a class="brand-logo" href="/">Jogging Tracker</a>
        <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

      <ul class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
          <li><a href="/+{{ user.username }}/profile">{{ user.username }}</a></li>
          <li><a href="/+{{ user.username }}/entries">Entries</a></li>
            {% if user.roles.is_admin or user.roles.is_manager %}
                <li><a href="/dashboard">Admin Dashboard</a></li>
            {% endif %}
          <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
        {% else %}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        {% endif %}
      </ul>

        <ul class="side-nav" id="mobile-demo">
        {% if user.is_authenticated %}
          <li><a href="/+{{ user.username }}/profile">{{ user.username }}</a></li>
          <li><a href="/+{{ user.username }}/entries">Entries</a></li>
            {% if user.roles.is_admin or user.roles.is_manager %}
                <li><a href="/dashboard">Admin Dashboard</a></li>
            {% endif %}
          <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
        {% else %}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        {% endif %}
      </ul>

    </div> <!-- /.collapse.navbar-collapse -->
  </div> <!-- /.container-fluid -->
</nav>
